// UTILITIES: COLORS

// PRIMARY

.u-color-primary {
  &--text {
    color: var(--color-primary);
  }

  &--bg {
    background-color: var(--color-primary);
  }
}

.u-color-primary-light {
  &--text {
    color: var(--color-primary-light);
  }

  &--bg {
    background-color: var(--color-primary-light);
  }
}

.u-color-primary-lighter {
  &--text {
    color: var(--color-primary-lighter);
  }

  &--bg {
    background-color: var(--color-primary-lighter);
  }
}

.u-color-primary-dark {
  &--text {
    color: var(--color-primary-dark);
  }

  &--bg {
    background-color: var(--color-primary-dark);
  }
}

// SECONDARY

.u-color-secondary {
  &--text {
    color: var(--color-secondary);
  }

  &--bg {
    background-color: var(--color-secondary);
  }
}

// WARM

.u-color-cream {
  &--text {
    color: var(--color-cream);
  }

  &--bg {
    background-color: var(--color-cream);
  }
}

.u-color-hazelnut {
  &--text {
    color: var(--color-hazelnut);
  }

  &--bg {
    background-color: var(--color-hazelnut);
  }
}

// COOL

// NEUTRAL

.u-color-white {
  &--text {
    color: var(--color-white);
  }

  &--bg {
    background-color: var(--color-white);
  }
}

.u-color-black {
  &--text {
    color: var(--color-black);
  }

  &--bg {
    background-color: var(--color-black);
  }
}
