// Components: Banner

.c-banner {
  text-align: left;
  background-size: cover;
  background-position: left;

  &--sport {
    background-image: linear-gradient(
        rgba(28, 34, 44, 0.3),
        rgba(28, 34, 44, 0.3)
      ),
      url(../img/banner-sport-2_mob.jpg);

    @media only screen and (min-width: $media-sm) {
      background-image: linear-gradient(
          rgba(28, 34, 44, 0.3),
          rgba(28, 34, 44, 0.3)
        ),
        url(../img/banner-sport-2.jpg);
    }
  }

  .c-text-component {
    --text-vspace-multiplier: 3.951;
  }
}
