// Components: Hamburger Button

.c-hamburger-btn {
  height: 16px;
  position: relative;
  // display: none;
  border: none;
  padding: 0;
  outline: none;

  // @media only screen and (max-width: $bp-large) {
  //   display: block;
  // }

  & span,
  &:before,
  &:after {
    content: "";
    width: 24px;
    height: 2px;
    // background-color: $color-white;
    background-color: var(--color-cream);
    display: block;
    transition: all 0.15s ease-in;
  }

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}
