html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  font-weight: var(--font-regular);
  line-height: var(--body-line-height);
  color: var(--color-body);
  background-color: var(--color-grey-lightest);
  overflow-x: hidden;
}
